
.main_div{
    height: 695px;
    width: 1650px;
    overflow: hidden;
    position: relative;
}
.gradient{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgb(151, 9, 9), rgb(170, 47, 13), rgb(225, 55, 8), rgb(255, 213, 0));
    opacity: 0.8;
    
}
.main_image{
    scale: 1;
    color: transparent;
    object-fit: cover;
    display: block;
    position: absolute;
    border: 1px solid white;
}
.main_text{
    position: relative;
    
    text-align: center;
    width: 1300px;
}
.main_img{
    border: 1px solid white;
    padding: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 590px;
    margin-bottom: 35px;
}
.main_text h1{
    color: white;
    font-weight: bold;
    font-size: 44px;
}
.main_text p{
    color: white;
    font-size: 18px;
    margin-top: 50px;
}
.main_text button{
    background-color: black;
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 30px;
}

.main_text button:hover{
    color: rgb(225, 55, 8);
    background-color: white;
}



.auto{
    margin: 120px 130px 120px 160px;
}
.auto-text{
    display: flex;
    margin-bottom: 150px;
}
h2{
    font-size: 36px;
    font-weight: bold;
}
.auto-text p{
    margin-left: 80px;
    font-size: 18px;
    width: 2000px;
    line-height: 1.5;
}


.testing{
    display: flex;
    margin: 65px 0px;
}
.testing_block{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.testing_text{
    padding: 16px 20px;
}
.testing_text p{
    font-size: 14px;
    width: 480px;
}
.testing_image{
    padding: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.2), 0 4px 15px 0 rgba(64, 64, 64, 0.19);
}

.para{
    margin: 70px 0px;
    display: flex;
}
.com{
    display: flex;
}
.com_icon{
    height: 50px;
    width: 50px;
    background-image: linear-gradient(to right, rgb(88, 22, 22), red, rgb(255, 89, 0), rgb(255, 140, 0));
    border-radius: 50%;
}
.com-text{
    margin-left: 30px;
    margin-top: 5px;
}
.com-text p{
    margin-top: 20px;
    font-size: 14px;
    text-transform: lowercase;
    width: 460px;
}   


.device{
    background-color: rgb(236, 236, 236);
    padding: 130px 160px;
    height: 450px;
}
.device h2{
    color: black;
    font-size: 38px;
}
.dev_img{
    margin: 60px;
    color: transparent;
}

.case_box{
    display: flex;
}
.case_head{
    display: flex;
    margin-bottom: 70px;
}

.case_head button{
    margin-left: 750px;
    border: 2px solid rgb(252, 102, 35);
    border-radius: 40px;
    padding: 6px 30px;
    color: rgb(252, 102, 35);
    font-weight: 600;
    background-color: white;
}

.case_head button span{
    transition: all 0.2s ease;
}


.case_head button:hover span{
    margin-left: 10px;
}

.case_img{
    width: 1300px;
    height: 390px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.case_img img{
    scale: 1.45;
    display: block;
}
.case_text{
    padding: 20px 50px;   
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(to right, rgb(3, 3, 84), rgb(109, 4, 4),  rgb(211, 6, 6), orange);
}
.case_text a{
    text-decoration: none;
}
.case_text a p,h3{
    color: white;
}
.case_text a h3{
    margin-top: 0px;
    font-size: 40px;
    width: 650px;
    color: white;
}
.case_text a button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    margin-top: 40px;
}

.case_text a button span{
    transition: all 0.2s ease;
}
.case_text a button:hover span{
    margin-left: 10px;
}

.box1{
    margin-top: 30px;
}

.case_text1{
    padding: 30px 50px;   
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(185, 185, 185);
}
.case_text1 a{
    text-decoration: none;
}
.case_text1 a p,h3{
    color: BLACK;
    font-weight: 500;
}
.case_text1 a h3{
    margin-top: 0px;
    font-size: 37px;
    width: 650px;
}
.case_text1 a button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-top: 60px;
}

.case_text1 a button span{
    transition: all 0.2s ease;
}
.case_text1 a button:hover span{
    margin-left: 10px;
}

.auto_box{
    display: flex;
    margin-top: 120px;
}
.auto_box_heading{
    width: 1200px;
    margin-right: 40px;
}
.auto_box p{
    font-size: 18px;
}




.auto_gen{
    margin-right: 60px;
    height: 280px;
    width: 400px;
    background-image: linear-gradient(to right, rgb(88, 22, 22), red, rgb(255, 89, 0), rgb(255, 140, 0));
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.auto_gen img{
    display: none;
}
.auto_gen_text{
    position: absolute;
    background-color: white;
    font-size: 1.1em;
    font-weight: 600;
    padding: 35px ;
    border-radius: 20px;
    top: 0;
    height: 120px;
    width: 355px;
    transition: all 0.2s ease;
}
.auto_gen:hover{
    background-image: none;

}
.auto_gen:hover img{
    display: block;
}
.auto_gen:hover .auto_gen_text{
    top: 160px;
}
.text{
    margin: 150px 30px 0px 30px;
    color: white;
    font-size: 18px;
    width: 300px;
    margin-left: 60px;
}



.auto_slider{
    position: relative;
}

.auto_slides{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.auto_slides::-webkit-scrollbar {
    display: none;
}

.auto_slide{
    height: 560px;
    width: 380px;
    margin-right: 20px;
    flex-shrink: 0;
    background-image: linear-gradient(94.59deg, rgb(18, 38, 77) 0%, rgb(132, 12, 49) 24.48%, rgb(199, 9, 39) 49.3%, rgb(252, 102, 35) 74.31%, rgb(255, 189, 48) 100%);
    overflow: hidden;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.auto_slide_img img{
    height: 220px;
    margin-left: -80px;
    transition: all 0.3s ease-in-out; 
}

.auto_slide:hover{
    height: 580px;
}
.auto_slide:hover .auto_slide_img img{
    height: 240px;
}

.auto_image{
    display: flex;
}
.auto_image img{
    border-radius: 50%;
    height: 3.5rem;
}
.auto_slide_text{
    padding: 30px;
    color: white;
    font-size: 16px;
}
.auto_txt{
    margin-left: 1rem;
}
.auto_slide_text p{
    color: white;
    font-size: 28px;
    font-weight: 600;
    padding-top: .3em;
    height: 180px;
    overflow: hidden;
}
.auto_slide_text button{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 0px 30px;
    border-radius: 3em;
    margin-top: 1em;
}
.icon{
    font-size: 30px;
}

.btn{
    position: absolute;
    font-size: 3em;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    color: rgb(255, 25, 0);
    background-color: white;
    display: none;
}
.left{
    top: 5em;
    left: 4em;
}
.right{
    right: 0;
    top: 5.8em;
    transform: translateY(-50%);
}
.btn:hover{
    background-color: white;
    color: rgb(255, 25, 0);
}

.auto_slider:hover .btn{
    display: block;
}



.contain{
    background: linear-gradient(94.2deg, rgb(18, 38, 77) -13.61%, rgb(132, 12, 49) 16.11%, rgb(199, 9, 39) 46.25%, rgb(252, 102, 35) 76.61%, rgb(255, 189, 48) 107.8%);
    margin: 150px 0px;
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.contain h2{
    width: 400px;
    font-size: 50px;
}
.contain button{
    background-color: rgb(241, 75, 29);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 3rem;
    margin-top: 5rem;
}

.contain_text p{
    color: white;
    font-size: 32px;
    margin-right: 6rem;
    margin-top: 3rem;
    font-weight: 800;
}


.client h2{
    margin: 130px 0px 70px 0px;
}

.client_review{
    background-color: rgb(242, 242, 242);
    padding: 25px 50px;
    position: relative;
}

.client_heading a{
    font-size: 28px;
}
.client_heading a:hover{
    color: black;
    text-decoration: underline;
}
.c_review{
    font-size: 18px;
    margin-left: 30px;
}
.star{
    font-size: 20px;
    color: rgb(225, 55, 8);
    margin: 0px 10px;
}
.review{
    font-size: 12px;
    letter-spacing: .3em;
    color: rgb(225, 55, 8);
}
.client1{
    display: flex;
    justify-content: space-between;
}
.clientT1{
    background-color: white;
    margin: 20px 20px 20px 20px;
    padding: 10px 20px;
    width: 230px;
    box-shadow: 0 4px 8px 0 rgba(112, 112, 112, 0.2), 0 4px 15px 0 rgba(115, 115, 115, 0.19);
    flex-shrink: 0;
}

.clientT1 p{
    font-size: 13px;
    height: 50px;
    overflow: hidden;
    margin: 10px 0px;
    
}
.client_text{
    display: flex;
    overflow: hidden;
    position: relative;
}
.c_btn{
    position: absolute;
    border: none;
    font-size: 5rem;
    background-color: transparent;
    top: 6rem;
    color: rgb(225, 55, 8);
}