*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button{margin-top: 20px;
background: rgb(84, 215, 236);
color: rgb(6, 42, 109);
border-radius: 10px;
border: 1px solid rgb(84, 215, 236);
padding: 12px 40px 12px 19px;
font-weight: 400;
position: relative;}