.coursemainheader{
    height: 30rem;
    width: 100%;
    display: flex;
}
.coursemainheader-left-side{
    height: 70%;
    width: 20%;
}
.coursemainheader-right-side{
    height: 100%;
    width: 80%;
    overflow: scroll;

}
.coursemainheader-scroll{
    height: 100rem;
    background-color: #f5f1ec;
    
}
