.circle{
    position : absolute;
    border : 1px solid red;
    border-radius : 50%;
    top : -40px;
    transition : all 0.5s ease;
}
.circle:hover{
    top : -20px;
}


.telecom{
    margin-right: 60px;
    height: 280px;
    width: 400px;
    background-image: linear-gradient(to right, rgb(88, 22, 22), red, rgb(255, 89, 0), rgb(255, 140, 0));
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.telecom img{
    display: none;
}
.telecom_text{
    position: absolute;
    background-color: white;
    font-size: 2em;
    font-weight: 600;
    padding: 35px ;
    border-radius: 20px;
    top: 0;
    height: 120px;
    width: 355px;
    transition: all 0.2s ease;
}
.telecom:hover{
    background-image: none;

}
.telecom:hover img{
    display: block;
}
.telecom:hover .telecom_text{
    top: 160px;
}
.tele-text{
    margin: 150px 60px 0px 30px;
    color: white;
    font-size: 1em;
    width: 300px;
    margin-left: 60px;
}

.tele_software{
    display: flex;
    margin: 9.5em;
}

.tele_software_heading{
    font-size: 2.5em;
    width: 10em;
    font-weight: bold;
}

.tele_software_box{
    border: 1px solid black;
    margin-left: 6em;
    border-radius: 2em;
    width: 44em;
}

.tele_software_ques{
    font-size: 1em;
    font-weight: 600;
}



.tele_slide_img img{
    height: 220px;
    transition: all 0.3s ease-in-out; 
}

.auto_slide:hover .tele_slide_img img{
    height: 240px;
}

.telecom_box_heading:hover{
    color: orangered;
}

.telecom_software_slide{
    background-image: linear-gradient(94.59deg, rgb(18, 38, 77) 0%, rgb(132, 12, 49) 24.48%, rgb(199, 9, 39) 49.3%, rgb(252, 102, 35) 74.31%, rgb(255, 189, 48) 100%);
    height: 17em;
    padding: 1.6em;
    border-radius: 1em;
}

.telecom_software_slide h2{
    color: white;
    width: 10.5em;
}

.telecom_software_slide p{
    color: white;
    margin-top: 2.5em;
    width: 20em;
}


.telecom_software_slide1{
    background-color: black;
    height: 17em;
    padding: 1.6em;
    border-radius: 1em;
}

.telecom_software_slide1 h2{
    color: white;
    width: 10.5em;
}

.telecom_software_slide1 p{
    color: white;
    margin-top: 2.5em;
    width: 20em;
}



.telecom_software_slide2{
    background-color: rgb(192, 192, 192);
    height: 17em;
    padding: 1.6em;
    border-radius: 1em;
}

.telecom_software_slide2 h2{
    width: 10.5em;
}

.telecom_software_slide2 p{
    margin-top: 2.5em;
    width: 20em;
}

.telecom_btn{
    position: absolute;
    font-size: 3em;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    color: rgb(255, 25, 0);
    background-color: white;
    display: none;
}
.telecom_left{
    top: 2em;
    left: 4em;
}
.telecom_right{
    right: 0;
    top: 2.8em;
    transform: translateY(-50%);
}
.telecom_btn:hover{
    background-color: white;
    color: rgb(255, 25, 0);
}

.auto_slider:hover .telecom_btn{
    display: block;
}


.telecom_slider_box{
    background: linear-gradient(94.59deg, rgb(18, 38, 77) 0%, rgb(132, 12, 49) 24.48%, rgb(199, 9, 39) 49.3%, rgb(252, 102, 35) 74.31%, rgb(255, 189, 48) 100%);
    color: rgb(255, 255, 255);
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    padding: 3em;
}