/* syed start */
.scrolling-container {
    text-align: justify;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow */
    width: 100%; 
    position: relative; /* Position relative for absolute child */
    top: -5em;
    left: 10em;
    margin: auto;

}

.scrolling-text {
   
    display: flex; /* Inline block for animation */
    animation: scroll-left 6s linear infinite; /* Animation properties */
}


@keyframes scroll-left {
    0% {
        transform: translateX(0%);
        opacity: 4;
        z-index: 2;
    }

   
    30% {
        transform: translateX(300%);
        opacity: 4;
        z-index: 2;
    }
    60%{
        transform: translateX(-10%);
        opacity: 4;
        z-index: 2;
    }
    
    75% {
        transform: translateX(20%);
        opacity: 4;
        z-index: 2;
    }
    100% {
        transform: translateX(20%);
        opacity: 4;
        z-index: 2;
    }
}

.sc {

    display: inline-block; /* Inline block for animation */
    animation: textscoll 6s linear infinite ; /* Animation properties */

}

@keyframes textscoll {
    0% {
        transform: translateX(-100px);
        opacity: 4;
        z-index: 2;
        display: none;
       
    }

    25% {
        transform: translateX(-100%);
        opacity: 4;
        z-index: 2;
        display: none;
        
    }
    60% {
        transform: translateX(94%);
        opacity: 4;
        z-index: 2;
        
    }
    

    75% {
        transform: translateX(10%);
        opacity: 4;
        z-index: 2;
    }
    100% {
        transform: translateX(10%);
        opacity: 4;
        z-index: 2;
    }
}

/* syed end */





Reset default margin and padding
 /* * {
    position: relative;
    margin: -10;
    background-color: blue;
    padding: 0;
    box-sizing: border-box;
} */

/* Wrapper Styling */
.wrapper {
    
    margin: auto;
    position: relative; /* Changed from absolute to relative */
    top: 50px;
    width: 100%;
    /* height: 600px; */
    background-image: url('../assets/bg.png') ;
    background-repeat: no-repeat;
    background-size: 100% 600px;
   
        
}

/* Content Layout */





/* Responsive Adjustments */
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 400px) {

}
